[class*="col-"] {
  float: left;
  border: 1px solid black;
  text-align: center;
  padding: 5% 0;
}

.col-1 {
  width: calc( 100% / 12);
}


.col-2 {
  width: calc( 100% / 6);
}

.col-3 {
width: calc( 100% / 4);
}

.col-4 {
  width: calc( 100% / 3);
}

.col-5 {
width: calc( 100% / 2.4);
}

.col-6 {
  width: calc( 100% / 2);
}

.col-7 {
width: calc( 100% / 1.714285714285714);
}

.col-8 {
width: calc( 100% / 1.5);
}

.col-9 {
width: calc( 100% / 1.333333333333333);
}

.col-10 {
width: calc( 100% / 1.2);
}

.col-11 {
width: calc( 100% / 1.090909090909091);
}

.col-12 {
  width: 100%;
}


/* MODIFICHE ULTIMA RIGA */
[class*="col-"] > .row [class*="col-"],
[class*="col-"] > .row p  {
  background-color: rgb(240,127,128);
  border:0;
}

[class*="col-"] > .row .col-2 {
  width: 14.66%;
  margin: 0 1%;
}

[class*="col-"] > .row .col-8 {
  width: 64.66%;
  margin: 0 1%;
}



[class*="col-"] > .row [class*="col-"],
[class*="col-"] > .row p {
  background-color: rgb(240,127,128);
  border:0;
}

[class*="col-"] > .row .col-6 {
  width: 48%;
  margin: 0 1%;
}
